<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for EndUser</h1>

		<f:flashMessages />

		<table  class="tx_oollead" >
			<tr>
				<th><f:translate key="tx_oollead_domain_model_enduser.last_name" /></th>
				<th><f:translate key="tx_oollead_domain_model_enduser.first_name" /></th>
				<th><f:translate key="tx_oollead_domain_model_enduser.email" /></th>
				<th><f:translate key="tx_oollead_domain_model_enduser.phone" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{endUsers}" as="endUser">
				<tr>
					<td><f:link.action action="show" arguments="{endUser : endUser}"> {endUser.lastName}</f:link.action></td>
					<td><f:link.action action="show" arguments="{endUser : endUser}"> {endUser.firstName}</f:link.action></td>
					<td><f:link.action action="show" arguments="{endUser : endUser}"> {endUser.email}</f:link.action></td>
					<td><f:link.action action="show" arguments="{endUser : endUser}"> {endUser.phone}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{endUser : endUser}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{endUser : endUser}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New EndUser</f:link.action>
	</f:section>
</html>