<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="lastName">
	<f:translate key="tx_oollead_domain_model_enduser.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="firstName">
	<f:translate key="tx_oollead_domain_model_enduser.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="email">
	<f:translate key="tx_oollead_domain_model_enduser.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_oollead_domain_model_enduser.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
</html>