<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-ool-lead" >
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_enduser.last_name" />
		</td>
		<td>
		{endUser.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_enduser.first_name" />
		</td>
		<td>
		{endUser.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_enduser.email" />
		</td>
		<td>
		{endUser.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_enduser.phone" />
		</td>
		<td>
		{endUser.phone}
		</td>
	</tr>
</table>
</html>