<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-ool-lead" >
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_enduser.last_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_enduser.first_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_enduser.submission_id" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_enduser.email" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_enduser.phone" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_enduser.urlsource" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_enduser.ip" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>