<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-ool-lead" >
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_leaddemenageur.address_from0" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_leaddemenageur.address_from1" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_leaddemenageur.address_to0" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_leaddemenageur.address_to1" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_leaddemenageur.moving_date" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>