<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="date">
	<f:translate key="tx_oollead_domain_model_lead.date" />
</label><br />
	<f:form.textfield property="date" value="{lead.date->f:format.date()}" /><br />
<label for="emailUsed">
	<f:translate key="tx_oollead_domain_model_lead.email_used" />
</label><br />
	<f:form.textfield property="emailUsed" /><br />
<label for="submissionId">
	<f:translate key="tx_oollead_domain_model_lead.submission_id" />
</label><br />
	<f:form.textfield property="submissionId" /><br />
<label for="urlSource">
	<f:translate key="tx_oollead_domain_model_lead.url_source" />
</label><br />
	<f:form.textfield property="urlSource" /><br />
<label for="userIp">
	<f:translate key="tx_oollead_domain_model_lead.user_ip" />
</label><br />
	<f:form.textfield property="userIp" /><br />
</html>