<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-ool-lead" >
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_lead.date" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_lead.email_used" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_lead.submission_id" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_lead.url_source" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oollead_domain_model_lead.user_ip" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>