<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="addressFrom0">
	<f:translate key="tx_oollead_domain_model_leadmover.address_from0" />
</label><br />
	<f:form.textfield property="addressFrom0" /><br />
<label for="addressFrom1">
	<f:translate key="tx_oollead_domain_model_leadmover.address_from1" />
</label><br />
	<f:form.textfield property="addressFrom1" /><br />
<label for="addressTo0">
	<f:translate key="tx_oollead_domain_model_leadmover.address_to0" />
</label><br />
	<f:form.textfield property="addressTo0" /><br />
<label for="addressTo1">
	<f:translate key="tx_oollead_domain_model_leadmover.address_to1" />
</label><br />
	<f:form.textfield property="addressTo1" /><br />
<label for="movingDate">
	<f:translate key="tx_oollead_domain_model_leadmover.moving_date" />
</label><br />
	<f:form.textfield property="movingDate" value="{leadMover.movingDate->f:format.date()}" /><br />
</html>